*{
    margin: 0;
    padding: 0;
}
body{
    font-family:Helvetica, "Trebuchet MS", sans-serif;
    background: #fff url("../img/bg.png");
    margin: 16px;
}
/* Container */
.container{
    background: #ede9cc;
    margin: 0 auto;
    min-width: 740px;
    max-width:1180px ;
}
/* Container */
/* Topo */
.topo{
    position: relative;
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}
.area_logo{
    position: absolute;
    background:  url("../img/topo-imagem-principal2.png") no-repeat;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
}
.area_menu{
    position: absolute;
    background:  url("../img/topo-imagem-lateral.png")no-repeat;
    width: 450px;
    height: 250px;
    top: 0;
    right: 0;
}
/* Topo */